.App{
  display: flex;
  align-items: center;
  justify-content: center;
}

h2{
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.drum-pads{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10%;
}

.drum-pad{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#display{
  display: flex;
  justify-content: center;
  margin-top: 5%;
  font-weight: bold;
}